<%- include('../includes/head.ejs') %>
      </head>

      <body>
            <%- include('../includes/navigation.ejs') %>
                  <main>
                        <% if (products.length > 0) { %>
                              <% for (let product of products) { %> 
                                    <ul>
                                          <li>
                                                <!-- From the cartItem model in sequelize, I acess the cartItem property for the quantity I guess-->
                                                <%= product.title %> (<%= product.cartItem.quantity %>) 
                                          </li>
                                          <form action="/cart-delete-item" method="POST">
                                                <input type="hidden" name="productId" value="<%= product.id %>">
                                                <button type="submit" class="btn">
                                                      Delete
                                                </button>
                                          </form>
                                    </ul>
                                    <hr>

                              <% } %><% { %>
                              <div class="center">
                                    <form action="/create-order" method="POST">
                                          <button type="submit" class="btn">
                                                Order
                                          </button>
                                    </form>
                              </div>


                        <% } %>
                        <% } else { %>
                              <h1> No Products found! </h1>
                        <% } %>
                  </main>
            <%- include('../includes/end.ejs') %>